@import "tailwindcss";

@theme {
  --color-accent: #FFFF00;
  --color-background: #050505;
  --color-foreground: #ffffff;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-accent);
  color: #000;
}
