@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --accent: #FFFF00; /* 100% Yellow */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--accent);
  color: #000;
}