@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
  --accent: #FFFF00; /* 100% Yellow */
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

::selection {
  background: var(--accent);
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}